langchain==0.1.0
langchain-community==0.0.10
langchain-core==0.1.8
langchain-openai==0.0.2
langdetect==1.0.9
langsmith==0.0.77
numpy==1.26.3
openai==1.6.1
pydantic==2.5.3
unstructured==0.11.8
unstructured[docx]
streamlit==1.30.0
docx2txt
pymupdf
pysqlite3-binary
chromadb==0.4.22
